server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: pindou-backend
  datasource:
    url: jdbc:h2:file:./data/pindou-db;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console

baidu:
  ocr:
    ak: ${BAIDU_OCR_AK1:}
    sk: ${BAIDU_OCR_SK1:}
    ak2: ${BAIDU_OCR_AK2:}
    sk2: ${BAIDU_OCR_SK2:}
